---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Dope Devs 🔥 | Creafting coders, the dope way!">
	<main class="container mx-auto flex justify-center items-center flex-col text-primary h-screen">
		<div class="-mt-24">
			<h1 class="flex items-center text-7xl mb-8 font-bold">Dope Devs <img class="ml-4 h-16" src="fire.svg"/></h1>
			<p class="text-3xl">Crafting coders, the dope way!</p>
		</div>
		<ul class="flex mt-8">
			<li class="flex items-center mx-4 border  px-3 py-2 hover:scale-105 transition-all cursor-pointer">
				<a class="flex items-center" href="http://discord.devsdope.com/"><img class="h-12 mr-4" alt="Discord" src="discord.svg"/>Discord</a>
			</li>
			<li class="flex items-center mx-4 border  px-3 py-2 hover:scale-105 transition-all cursor-pointer">
				<a class="flex items-center" href="https://www.linkedin.com/company/dope-devs " target="_blank">
					<img class="h-8 mr-4" alt="Linkedin" src="linkedin.svg"/>LinkedIn
				</a>
			</li>
		</ul>
	</main>
	<footer class="absolute bottom-0 py-8 left-0 right-0 border border-top">
		<p class="text-xl text-primary text-center">A community by <a class="font-bold underline" href="https://khattak.dev/">khattak.dev</a></p>
	</footer>
</Layout>

<style>
	main {
		margin: auto;
		font-size: 20px;
		line-height: 1.6;
	}

</style>
